.GraphBar {
    background: #d3d3d3a1;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 0 0.5em;
    height: 5.5vh;
}

.GraphBar-legend {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 0.5em;
}

.GraphBar-legend-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5em;
}
