.Title {
    background: rgba(211, 211, 211, 0.78);
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 0 0.5em;
    flex: 1;
    height: 3em;
}

.Title-name {
    text-align: center;
    vertical-align: middle;
    line-height: 2em;
    font-size: 1.5em; 
    font-family: bold;
    width: 6em;
}

.Title-middle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 0.5em;
}

.Title-search-box {
    background: white;
}

.Title-search-text-box {
    padding-left: 1em;
}

.Title-error {
    padding: 0 1em;
}

.Title-help-button-wrapper {
    width: 6em;
}
.Title-help-button {
    margin: 0.5em;
    width: 3em;
}