.GraphBar {
    background: rgba(211, 211, 211, 0.631);
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 0 0.5em;
    height: 5.5vh;
}

.GraphBar-legend {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 0.5em;
}

.GraphBar-legend-item,
.GraphBar-legend-item-select {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5em;
    width: 14em;
}

.GraphBar-legend-item-select {
    padding-left: 48px;
    width: 8em;
}

.GraphBar-arrow-green,
.GraphBar-arrow-blue, 
.GraphBar-arrow-red,
.GraphBar-arrow-orange {
    font-weight: 900;
    font-size: 50px;
}

.GraphBar-arrow-green {
    color: green;
}

.GraphBar-arrow-red {
    color: red;
}

.GraphBar-arrow-blue {
    color: blue;
}

.GraphBar-arrow-orange{
    color: orange;
}

.GraphBar-help-button {
    margin: 0.5em;
    width: 3em;
}