.GraphBar {
    background: rgba(211, 211, 211, 0.631);
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 0 0.5em;
    height: 3em;
}
.Legend-text {
    padding-right: 0.5em;
    font-family: inherit;
    font-weight: 400;
}

.GraphBar-legend {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    padding: 0.5em;
}

.GraphBar-legend-item,
.GraphBar-legend-item-select {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.GraphBar-legend-item-select {
    padding-left: 48px;
    width: 8em;
}

.GraphBar-arrow-green,
.GraphBar-arrow-blue, 
.GraphBar-arrow-red,
.GraphBar-arrow-orange {
    font: bold;
    font-size: 3em;
    font-weight: 900;
}

.GraphBar-arrow-green {
    color: green;
}

.GraphBar-arrow-red {
    color: red;
}

.GraphBar-arrow-blue {
    color: blue;
}

.GraphBar-arrow-orange{
    color: orange;
}

.GraphBar-help-button {
    margin: 0.5em;
    width: 10em;
}